@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

@media (max-width: 768px){
    .portfolio, .projetos, .contato{
        top: 45%;
    }
}


body{
    font-family: 'rubik', sans-serif;
}

header{
    background-color: #0A122A;
    color: #fff;
    text-align: center;
    padding-top: 50px;
}

h1#Principal{
    background-color: #1c2e63;
    padding: 10px;
    max-width: 400px;
    margin: auto;
    border-radius: 10px;
    box-shadow: 1px 2px 10px 2px rgba(0, 0, 0, 0.418);
}



main{
    color: #fff;
    background-image: linear-gradient(to top, #1c2e63, #0A122A);
    position: relative;
    height: 100vh;
}

main h1{
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
}

main p{
    position: absolute;
    top: 38%;
    left: 50%;
    transform: translate(-50%, -50%);
}

a{
    margin-top: 20px;
    color: #fff;
    text-decoration: none;
     background-color: #1c2e63;
}

 a.portfolio{
    max-width: 100px;
    width: 100%;
    text-align: center;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
    border-radius: 5px;
}

a.projetos:hover, .portfolio:hover, .contato:hover{
    background-color: #0A122A;
    transform-origin: 1s;

}

 a.projetos{
    max-width: 100px;
    width: 100%;
    text-align: center;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
    border-radius: 5px;
}

 a.contato{
    max-width: 100px;
    width: 100%;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
    border-radius: 5px;
}

