@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    font-family: var(--font-padrao);
}

:root{
    --cor0: #63D8F2;
    --cor1: #41AED9; 
    --cor2: #049DD9;
    --cor3: #0487D9;
    --cor4: #023373;

    --font-padrao: "Rubik", sans-serif;

}

@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');



header{
    background-color: #08336b;
    text-align: center;
    padding-top: 80px;
    padding-bottom: 300px;
}

header h1{
    background-color: #1b4b8b;
    color: white;
    max-width: 300px;
    display: flex;
    justify-content: center;
    margin: auto;
    padding: 10px;
    border-radius: 20px;
    box-shadow: 2px 2px 10px 2px rgba(0, 0, 0, 0.281);
}

main{
    background-image: linear-gradient(to top, #023373, #08336b);
    height: 100vh;
    text-align: center;
}

.elementos h1{
    color: white;
    margin-bottom: 5px;
}

.elementos p{
    color: white;
    padding-bottom: 10px;
}

.elementos a{
    display: flex;
    text-decoration: none;
    color: white;
    max-width: 100px;
    margin: auto;
    justify-content: center;
}

.elementos .portfolio{
    background-color: #1b4b8b;
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 10px;
}

.elementos .projetos{
    background-color: #1b4b8b;
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 10px;
}

.elementos .contato{
    background-color: #1b4b8b;
    padding: 10px;
    border-radius: 10px;
}

footer p{
    margin: auto;
    background-color: #023373;
    color: white;
    text-align: center;
    padding-bottom: 10px;
}

footer a{
    color: white;
    text-decoration: none;
}

footer a:hover{
    text-decoration: underline;
    color: white;
}




